extends layout

block content

  h2 #{title}
 
  div.description
    p #[strong Description: ] #{item.description}
    p #[strong Category: ] 
      a(href=item.category.url) #{item.category.name}
    p #[strong  Price: ] $#{item.price.toFixed(2)}
    p #[strong Stock: ] #{item.stock}
  div.button_container
    div.button
      a(href='/catalog/item/'+item.id+'/update') Update &nbsp;
        i.far.fa-edit
    div.button
      a(href='/catalog/item/'+item.id+'/Delete') Delete &nbsp;
        i.fas.fa-trash

  